.DotsNavigation{
  width: 5vw;
  height: 0vh;
  padding-left: 20px;
  position: sticky;
  top: 300px;
  transition: all .7s ease-in;
}

.dot {
  outline: none;
  border: none;
  width: 10px;
  height: 10px;
  opacity: 0;
  margin: 8px;
  border-radius: 50%;
  transition: all .7s ease-in;

}

.dot:hover{
    opacity: 0.8;
    transition: all .2s ease-in;

}

.dot .active{
    opacity: 0.6;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    transition: all .7s ease-in;
}

.dot .hidden{
  display: hidden;
}
.dot-scrolled{
    opacity: 0.4;
}
